@import "/styles/variables";
.paymentDetailSection {
    padding: 0 0.14px 0 0;
}

.background {
    width: 374.86px;
    height: 558px;
    background-color: $white;
    border-radius: 10px;
    position: relative;
}

.contentView {
    padding: 49px 15.86px 49px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
}

.title {
    color: $black;
    margin-bottom: 28px;
    @include spartan-22-bold-1;
}

.emailSection {
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left {
    margin-bottom: 61px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titleTwo {
    color: $black;
    margin-bottom: 20px;
    @include spartan-24-bold-1;
}

.subtitle {
    max-width: 339px;
    color: $black;
    @include spartan-18-regular-line29;
}

.right {
    position: relative;
}

.input {
    padding: 0 0 10.48px;
    position: relative;
}

.base {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.email {
    color: $grey-aa;
    margin-bottom: 15px;
    @include spartan-18-bold-2;
}

.formField {
    width: 338.86px;
    height: 50px;
    background-color: $white-smoke-2;
    border-radius: 10px;
}

.label {
    color: $black;
    position: absolute;
    left: 8.77px;
    top: 51px;
    @include spartan-18-bold-2;
}

.primaryButton {
    width: 244px;
}