@import "/styles/variables";
.header {
    padding: 0 0 0 50px;
    display: flex;
    align-items: center;
}

.contentView {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    max-width: 677px;
    color: $black;
    margin-bottom: 30px;
    @include spartan-60-bold-line92;
}

.body {
    max-width: 601px;
    color: $black;
    margin-bottom: 30px;
    @include spartan-25-regular;
}

.primaryButton {
    height: 70px;
    width: 436px;
}