@import "/styles/variables";
.statsCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.count {
    width: 120px;
    color: $primary;
    margin-bottom: 11px;
    @include spartan-32-semi-bold;
}

.label {
    color: $black;
    align-self: stretch;
    @include spartan-20-bold-1;
}