@import "/styles/variables";
.contactUsTestimonials {
    background-color: $blue-violet;
    display: flex;
    align-items: flex-start;
}

.contentView {
    padding: 120px 115.75px 117px 30.25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.testimonialTitle {
    height: 121px;
    width: 507px;
    color: $white;
    display: flex;
    align-items: center;
    margin-bottom: 47px;
    @include spartan-44-black;
}