@import "/styles/variables";


// .nextCourseGroup {
//   display: inline-block;
// }



.nextCourseSection {
  padding: 0 74.25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconRipples {
  margin-right: 44.5px;
}
.nextCourseTitle {
  width: 404px;
  color: $medium-slate-blue;
  text-align: center;
  display: inline-block;
  margin-right: 44.5px;
  @include spartan-28-bold;
}
.primaryButton {
  margin-right: 44.5px;
  width: 244px;
  height: 36px;
}
.transparentButton {
  width: 172px;
  height: 36px;
}