@import "/styles/variables";
.header {
    padding: 0 0 0 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    color: $black;
    align-self: stretch;
    margin-bottom: 24px;
    @include spartan-32-bold-1;
}

.subtitle {
    color: $black;
    align-self: stretch;
    @include spartan-24-regular;
}