// @font-face {
//   font-family: Spartan;
//   src: url(https://fonts.googleapis.com/css?family=Spartan);
// }

$Primary-color: #4A43B3;
$Primary-border: 5px outset rgba(159, 159, 159, 0.461);


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Spartan', sans-serif;
  line-height: 1.5;
  font-size: 18px;
}


Nav {
  padding: 10px 0;
  width: 100%;
  justify-content: center;
  position: absolute;
  align-items: center;
  display: flex;

  .menuLinks {
    flex: 8;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a {
      margin: 0 9px;
      padding: 9px 12px;
      text-decoration: none;
      text-transform: uppercase;

      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      color: #000000;

      &:first-child {
        background-color: $Primary-color;
        color: white;

        border-radius: 10px;

        &:visited {
          color: white;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      &:active,
      &:visited {
        color: black;
      }
    }
  }
}

.shopping-cart {
  position: relative;
  height: 35px;
  width: 35px;
}

.logo {
  flex: 2;
  height: 100px;
  width: 150px;

  &:hover {
    cursor: pointer;
  }
}

.cta-button {
  border-radius: 10px;
  // height: 87px;
  padding: 17px 50px;
  background-color: #4945B5;
  text-transform: uppercase;
  color: white;
  font-size: 40px;
  margin-top: 38px;
  font-weight: 900;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.banner {
  background-image: url('../public/banner.svg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 700px;

  .banner-description {
    padding-left: 8%;
    padding-top: 13%;

    h1 {
      font-weight: 700;
      font-size: 54px;
      font-weight: bolder;
      margin: 0;
    }

    h2 {
      font-weight: 500;
      width: 800px;
    }

    .accredited-by {
      // box-sizing: border-box;
      // margin-left: -15px;
      width: 650px;
      display: flex;
      // justify-content: space-evenly;
      align-items: center;

      img {
        height: 55px;
        padding: 10px;
      }
    }

  }
}

.content {
  padding: 0 1%;
  margin-top: 100px;

  h1 {
    font-weight: 900;
    font-size: 55px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;

  }

  .gradient-headline {
    margin-top: 40px;
    font-weight: bold;

    background: linear-gradient(90deg, #FEC07B 26.7%, #4B45B8 71.16%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h2 {
    margin-top: 0;
    line-height: 76px;
    text-align: center;
    font-weight: 500;

    span {
      display: inline-block;
      background: linear-gradient(90deg, rgba(253, 195, 62, 0) 0%, #FDC23D 49.18%, rgba(253, 236, 46, 0) 100%);
    }
  }

  p {
    font-size: 22px;
    line-height: 58.08px;
    padding: 0 2%;
    text-align: center;
  }

  .number-description {
    display: flex;
    width: 70%;
    max-width: 1000px;
    margin: auto;

    .number {
      margin-right: 20px;
      align-self: flex-start;

      span {
        display: block;
      }

      text-align: right;

      .number-section {
        color: $Primary-color;
        font-size: 100px;
        font-weight: 900;
      }

      .text-section {
        color: #A9A9A9;
        font-weight: 900;
        font-size: 22px;
        margin-top: -60px;
      }
    }

    p {
      margin-top: 0;
      align-self: flex-start;
      text-align: left;
    }
  }

  .program-info {
    display: flex;

    ul {
      flex: 1;
      display: inline-block;
    }

    li {
      // display: flex;
      vertical-align: middle;
      // align-items: center;
      margin-bottom: 20px;

      img {
        margin-bottom: -3px;
        margin-right: 16px;
        height: 20px;
      }

      strong {
        font-weight: 600;
      }

      list-style: none;

      h2 {
        margin-top: 15px;
        line-height: 40px;
        font-weight: 700;
        font-size: 24px;
        text-align: left;
      }
    }
  }

  img.trusted-companies {
    width: 100%;
  }

  .learn-more-container {
    height: 200px;
    display: flex;
    align-content: center;
    margin: 20px auto;

    a {
      font-family: Spartan;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 144%;
      /* identical to box height, or 46px */
      text-decoration: none;
      display: flex;
      align-items: center;

      color: #FA570E;


      margin: auto;
      display: inline-block;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .program-tile {
    // filter: drop-shadow(1px 1px 0px black);
    background-size: cover;
    border: $Primary-border;
    padding: 44px;
    border-radius: 16px;
    display: inline-block;
    height: 729px;
    width: 611px;
    margin-right: 78px;
    background-repeat: no-repeat;

    h1 {
      display: flex;
      align-items: center;
      font-size: 30px;
      margin-top: 127px !important;

      img {
        margin-right: 10px;
        height: 60px;
      }
    }

    p {
      text-align: left;
      white-space: normal;
      line-height: 37px;
      font-size: 18px;
      font-weight: 600;
    }
  }

  .program-tiles {
    margin-top: 50px;
    // width: 97%;
  }

  .program-section {
    padding-left: inherit;

    h1 {
      margin-top: 150px;
      text-align: left;
    }

  }

  .tile {
    margin-right: 50px;
    height: 400px;
    width: 278px;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 100px;
    white-space: normal !important;

    h1 {
      left: 10px;
      top: 200px;
      font-size: 34px;
      width: 100px;
      line-height: 35px;
      z-index: 2;
      position: relative;
    }

    p {
      top: 200px;
      left: 10px;
      position: relative;
      width: inherit;
      text-align: left;
      z-index: 2;
      font-size: 14px;
      font-weight: 600;
      line-height: 23.5px;
    }

    img {
      position: relative;
      top: 230px;

      &:hover {
        cursor: pointer;
      }
    }


    // &:before {
    //   content: '';
    //   position: absolute;
    //   background-image: linear-gradient(to bottom,
    //       transparent 0px,
    //       transparent 150px,
    //       transparent 150px,
    //       #FFFFFF 400px);
    //   opacity: 2;
    //   height: 400px;
    //   width: inherit;
    // }
  }

  .slider {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .cta-banner-container {
    margin-top: 150px;
  }

  .cta-banner {

    background: #FEBD3B;
    height: 226px;
    display: flex;
    flex-direction: row-reverse;

    img {
      height: 400px;
      flex: 1;
      align-self: flex-end;
      width: auto;

    }

    h1 {
      flex: 5;
      align-self: center;
      position: relative;
      // bottom: -35%;
      font-size: 40px;
      font-weight: 900;
    }

    button {
      margin-right: 2%;
      flex: 2;
      align-self: center;
      font-size: 23px;
      // left: 70%;
      // bottom: 10%;

    }
  }

  .close-button {
    display: inline-block;
    position: relative;


  }

  .live-button {
    width: 140px;
    // display: inline-block;
    position: sticky;
    // left: 0px;
    // bottom: 0px;
  }

  .red-button {
    min-width: 90px;
    font-weight: 700;
    font-size: 18px;
    height: 45px;
    top: 20px;
    left: 90vw;
    background: #EB5757;
    color: white;
    border-radius: 50px;
    border: none;
  }

  .free-button {
    min-width: 167px;
    // height: 55px;
    border-radius: 10px;
    text-align: center;
    padding-top: 14px;

  }


  .events {
    display: flex;
    margin-top: 170px;
    justify-content: space-between;
    background-image: linear-gradient(to bottom,
        #fff 75%,
        #FFEFDC 1px);

    .date-bar {
      display: flex;
      align-content: center;
      justify-content: space-between;
      margin-bottom: 20%;

      h1 {
        line-height: 12px;
        padding-top: 15px;
      }
    }

    h1 {
      margin-top: 0 !important;
    }


    .description {
      // flex: 1;
      width: 400px;
      display: inline-block;



      p {
        display: inline-block;
        text-align: left;
        padding: 0;
        max-width: 700px;
      }
    }

    .event-slider-container {
      // flex: 2;
      display: inline-block;
      width: 70%;

    }

    .event-tile {
      background-image: linear-gradient(to bottom,
          $Primary-color 80%,
          #FFFFFF 400px);
      background-size: cover;
      border: solid;
      padding: 44px;
      border-radius: 20px;
      display: inline-block;
      margin-right: 78px;
      Width: 563px;
      Height: 808.75px;

      h1 {
        display: inline-block;
        color: white;
        width: 68%;
        font-size: 40px;
        font-weight: 700;
        white-space: normal;


        &:nth-child(2) {

          &:after {
            content: "";
            /* This is necessary for the pseudo element to work. */
            display: block;
            /* This will put the pseudo element on its own line. */
            /* margin: 0 auto; */
            /* This will center the border. */
            width: 50%;
            /* Change this to whatever width you want. */
            padding-top: 40%;
            /* This creates some space between the element and the border. */
            border-bottom: solid;
            /* This creates the border. Replace black with whatever color you want. */
          }
        }
        

        // display: flex;



        span {
          line-height: 10px;
          display: flex;
          align-content: center;

          // &.day-sub-section {
          // }

          &.month-sub-section {
            font-size: 20px;
            margin-top: 10px;
            // display: block;
            // margin-top: -100px;
          }
        }
      }
    }
  }



}